<!DOCTYPE html>
<html>
<head>
  <title>Rural India - A People's Archive</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div>
  <span>Rural India - A People's Archive</span>
</div>
<div id="categories">
  <% CategoryController.new.all.each do |category| %>
      <span class="content_category"><a href="/categories/<%= category.as_url %>"><%= category.name %></a></span>
  <% end %>
</div>
<%= yield %>
</body>
</html>